/*========== GENERAL ===========*/
@font-face {
    font-family:"Helvetica" ;
    src: url(../font/Helvetica/Helvetica.ttf);
}
.fond{
    background-color: #ccc;
    background-color: #f2f2f2;
    height: 800px;
    font-family:"Helvetica", sans-serif,serif ;
}
.container.container-principal{
    padding-top: 70px;
}
/*========== END GENERAL ===========*/
/*==========  SECTION 1 ===========*/
.section1{
    padding-top: 30px;
}
.section1 .div-section1{
    width: 80%;
    margin: 0 auto;
}
.section1 img{
    width: 300px;
    height: 100px;

}
.section1 p{
    font-size: 32px;
    padding-left: 40px;
    margin-top: -15px;
    line-height: normal;
}
/*========== END SECTION 1  ===========*/
/*==========  SECTION 2 ===========*/

.section2 .fond-form{
    background-color: #fff;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);


}
.section2 .fond-form .button-bleu button{
    width: 100%;
    height: auto;   
    border-radius: 7px;
}
.section2 .fond-form  a{
    display: block;
    text-align: center; 
    margin-top: 10px;
    font-size: 15px;
    
    }
    .section2 .fond-form  a:hover{
        color: #1877f2;
    }
.section2 .fond-form .button-vert{
    width: auto;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
   
}
.section2 .fond-form .button-vert button{
border-radius: 7px;
}

.section2 p {
    padding-left: 25px;
    padding-top: 20px ;
    
}
.section2 p a{
    color: black;
    font-size: 14px;
    font-weight: 600;
    
}

/*========== END SECTION 2 ===========*/
/*========== PIED DE PAGE ===========*/
.pied-pqge{
    background-color: #fff;  
}
.container.container-dernier{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pied-page{
    float: none;
    margin: 0 auto;
    width: 60%;
    font-weight: 600;
    font-size: 12px;
} 
.pied-page a{
    text-decoration: none;
    color: #000;
    opacity: .5;
    padding: 0 5px;
    line-height: 20px;
   
}
.pied-page .menu a{
    padding: 0 7px;

}
.pied-page .langue a button{
    padding: 0 6px;
    font-size: 14px;
    font-weight: 700;
}
.pied-page .menu small{
    opacity: .7;  
    padding-left:  7px; 
   

}
.pied-page .menu h6{
    margin-top: 10px;
}
.pied-page .langue a:hover, .pied-page .menu a:hover{
    text-decoration: underline; 
    color: #000;
    opacity: .5;  
}

/*========== END PIED DE PAGE ===========*/






